/* Color de fondo de menú desplegable*/
#menu ul li
{
  border-radius:10px;
  background-color:#805843;
}

/* Color botón con ratón */
#menu ul li:hover
{
  background:#C19177;
  border-radius:10px;
}

/* Texto centrado y sin punto*/
#menu ul
{
  list-style:none;
  margin:0;
  padding:0;
  weight: 20%;
}

/* Tamaño, color de letra, fuente, mayúsculas... */
#menu ul a
{
  display:block;
  color:#fff;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}

/* Posición */
#menu ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

/*Tamaño Nav*/
nav
{
  width: 100%;
}

li
{
  width: 20%;
}

ul
{
  width: 100%;
}

h1
{
  text-align: center;
  font-size: 500%;
  background-color:#805843;
  color: white;
  border-radius:10px;
}

h1 a 
{
  color: white;
  text-decoration:none;
}
#menu ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
}

#menu ul ul li
{
  float:none;
  width:100%;
}

#menu ul ul a
{
  line-height:120%;
  padding:10px 15px;
}

#menu ul li:hover > ul
{
  display:block;
}

#cabecera
{
  width: 100%;
  height: 20%;
}

#contenido
{
  background-color: white;
  border-radius:10px;
  width: 70%;
  margin-top: 7%;
  margin-left: 10%;
  display:flex;
  justify-content: space-around;
  padding: 5%;
  border: solid #805843 10px;
  margin-bottom: 1%;
}

#contenido div
{
  width: 50%;
  margin: 1px;
  text-align: justify;
  padding: 10px;
}

footer
{
  display: flex;
  justify-content: center;
  background-color: #805843;
  border-radius:10px;
}

footer div
{
  margin: 20px;
}

footer div a
{
  color: white;
  text-decoration: none;
}

img
{
  border-radius:10px;
}

table tr td a
{
  text-decoration: none;
}
@media only screen and (max-width: 992px)
{
  html
  {
    font-size:15px;
  }
  #menu ul a
{
  display:block;
  color:#fff;
  text-decoration:none;
  font-weight:400;
  font-size:10px;
  padding:10px;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}
  #contenido
  {
  width: 70%;
  margin-top: 3%;
  display:flex;
  justify-content: space-around;
  padding: 3%;
  }
}